<div class="flex flex-row h-screen antialiased text-gray-800">
  <div class="flex flex-col h-full w-full bg-white px-4 py-6">
    <div class="flex flex-row items-center py-4 px-6 rounded-2xl shadow">
      <div class="flex flex-col ml-3">
        <div class="font-semibold text-sm">Équipe d'administration Jean Salut</div>
        <div class="text-xs text-gray-500">Découvrez les dernières communications de l'équipe administrant le Trophée Jean Salut</div>
      </div>
    </div>
    <div class="h-full overflow-hidden py-4">
      <div class="h-full overflow-y-auto">
        <div class="grid grid-cols-12 gap-y-2">
          <div class="col-start-1 col-end-8 p-3 rounded-lg">
            <div class="flex flex-row space-y-2 items-center" *ngFor="let message of messages">
              <div class="flex items-center justify-center h-10 w-10 bg-green rounded-full flex-shrink-0">V</div>
              <div class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl">
                <h1 class="font-bold">{{ message.title }}:</h1>
                <hr class="py-0.5" />
                <div [innerHTML]="message.content"></div>
                <span class="mt-2 text-right block text-xs text-gray-600">Le {{ message.createdAt | date:'dd/MM/YYYY à HH:mm' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
