<mat-sidenav-container class="h-full">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div id="Main" class="transform ease-in-out transition duration-500 flex justify-start items-start h-full w-full sm:w-64 bg-green flex-col">
      <div class="hidden xl:flex justify-start p-6 border-b border-white border-opacity-25 w-full items-center space-x-3">
        <a href="/club" class="text-lg leading-6 text-white">Espace club</a>
      </div>
      <div class="flex flex-col w-full h-full">
        <div class="mt-6 flex h-full flex-col justify-start items-center px-4 w-full space-y-3 pb-5">
          <a routerLink="{{ navLink.path }}" *ngFor="let navLink of navLinks" [ngClass]="currentRoute === navLink.path ? 'active' : null" class="flex cursor-pointer justify-start hover:bg-black hover:bg-opacity-5 items-center space-x-6 py-2 px-2 w-full focus:outline-none focus:text-indigo-400 text-white rounded ">
            <mat-icon>{{ navLink.icon }}</mat-icon>
            <p class="text-base leading-4 ">{{ navLink.label }}</p>
          </a>
          <div class="flex-grow w-full"></div>
          <a routerLink="/" class="flex text-sm justify-start items-center hover:bg-black hover:bg-opacity-5 w-full space-x-6 py-2 px-2 focus:outline-none text-white focus:text-indigo-400 rounded ">
            <mat-icon class="shortcut">language</mat-icon>
            <p class="leading-4 ">Retour au site</p>
          </a>
          <a (click)="logOut()" class="flex hover:cursor-pointer text-sm justify-start items-center hover:bg-black hover:bg-opacity-5 w-full space-x-6 py-2 px-2 focus:outline-none text-white focus:text-indigo-400 rounded ">
            <mat-icon class="shortcut">logout</mat-icon>
            <p class="leading-4 ">Se déconnecter</p>
          </a>
        </div>
        <div class="flex justify-end flex-col border-t border-black pt-4 border-opacity-25 pb-6 px-4 w-full space-y-32 ">
          <div class=" flex justify-between items-center w-full">
            <div class="flex justify-center items-center space-x-2">
              <div class="flex justify-start flex-col items-start">
                <p class="cursor-pointer text-sm leading-5 text-white">{{ user.clubName }}</p>
                <p class="cursor-pointer text-xs leading-3 text-gray-300">{{ user.emailAddress }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

