<div class="bg-green text-white w-full inset-x-0 mt-8">
  <div class="container relative justify-between p-2 lg:p-4 flex mx-auto">
    <div class="text-xl font-bold">
      <a routerLink="/">
        <img src="assets/images/logo-title.png" class="self-center h-[80px] absolute top-[-20%]" alt="">
      </a>
    </div>
    <div class="hidden lg:block">
      <ul class="flex space-x-4">
        <li *ngFor="let link of navLinks">
          <a class="hover:underline" [ngClass]="currentRoute === link.path ? 'font-bold underline' : null" [routerLink]="[link.path]">{{ link.label }}</a>
        </li>
      </ul>
    </div>
    <div class="lg:hidden py-[1px] block">
      <img (click)="mobileMenu = !mobileMenu" src="assets/images/{{ mobileMenu ? 'close' : 'burger' }}.svg" class="h-[38px] cursor-pointer">
    </div>
    <div *ngIf="mobileMenu" [@fadeInOut] class="absolute block lg:hidden top-[56px] bg-dark-green rounded-bl-md rounded-br-md bg-opacity-80 w-[80%] mx-auto left-0 right-0 px-3 py-4">
      <ul class="flex flex-col items-center space-y-3">
        <li *ngFor="let link of navLinks">
          <a class="hover:underline" [ngClass]="currentRoute === link.path ? 'font-bold underline' : null" [routerLink]="[link.path]">{{ link.label }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
