.discover {
  display: none;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150s;
}

.committee-card:hover .pic {
  display: none !important;
}

.committee-card:hover .player-infos {
  text-align: center !important;
}

.committee-card:hover .discover {
  display: flex;
  opacity: 1;
}
