<div class="h-full p-5">
  <a [routerLink]="'../'" class="block flex items-center mb-2 text-blue-500 hover:underline"><mat-icon>chevron_left</mat-icon> Retour à la liste des utilisateurs</a>
  <div class="flex flex-col space-y-4 bg-white p-4 shadow-sm rounded-lg">
    <div class="flex justify-between items-center">
      <div class="flex flex-col items-start justify-between">
        <div class="flex items-end">
          <h1 class="text-xl font-bold font-gray-800">{{ user.clubName }}</h1> <span> : {{ user.emailAddress }}</span>
        </div>
        <p class="text-xs">Inscrit le : {{ user.createdAt | date }}</p>
      </div>
      <a class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1.5 mr-2 mb-2 focus:outline-none">Supprimer</a>
    </div>
    <hr>
    <form (ngSubmit)="updateUser()" [formGroup]="userForm">
      <div class="flex space-x-2">
        <mat-form-field class="w-full">
          <mat-label>Adresse e-mail</mat-label>
          <input type="text" matInput formControlName="emailAddress">
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Numéro de téléphone</mat-label>
          <input type="text" matInput formControlName="phoneNumber">
        </mat-form-field>
      </div>
      <div class="flex space-x-2">
        <mat-form-field class="w-1/2">
          <mat-label>Nom du club</mat-label>
          <input type="text" matInput formControlName="clubName">
        </mat-form-field>
        <mat-form-field class="w-1/2">
          <mat-label>Rôle</mat-label>
          <mat-select placeholder="Rôle" formControlName="role">
            <mat-option value="CLUB">Club</mat-option>
            <mat-option value="JUROR">Comité</mat-option>
            <mat-option value="ADMIN">Administrateur</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
      <button *ngIf="!loading" type="submit" class="bg-green float-right mx-auto block mt-4 disabled:opacity-50 disabled:cursor-not-allowed text-white font-medium py-2 px-4 rounded">
        Modifier
      </button>
    </form>
  </div>
</div>
